@font-face {
    font-family: font1;
    src: url(fonts/font1.ttf);
}

body {
    display: grid;
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: 20vh 70vh 10vh;
    grid-gap: 10px;
    background-size: 100vw 100vh;
    background-image: linear-gradient(skyblue, white);
}


nav a {

    text-shadow: 1px 2px 4px black;
    font-family: font1;
    margin: 2px;
    color: whitesmoke;
    font-size: 35px;
    text-decoration-color: whitesmoke;
    text-decoration: underline;
    
}

nav {
    grid-column: 2/3;
    
}

.special {
    text-shadow: 3px 3px 5px blue;
}

nav img {
grid-column: 3/4;
    height: 100px;

}

section {}
