@font-face {
    font-family: font1;
    src: url(fonts/font1.ttf);
}

body {
    display: grid;
    grid-template-columns: 5% 1fr 1fr 7%;
    grid-template-rows: 15vh 65vh 10vh;
    grid-gap: 10px;
    background-size: 100vw 100vh;
    background-image: linear-gradient(skyblue, white);
}

a:hover {
    color: blue;
    text-shadow: 3px 3px 5px white;

}


nav a {

    text-shadow: 3px 2px 2px black;
    font-family: font1;
    margin: 2px;
    color: whitesmoke;
    font-size: 35px;
    text-decoration-color: whitesmoke;
    text-decoration: underline;

}

nav {
    grid-column: 2/3;

}

.special {
    text-shadow: 3px 3px 5px blue;
}

.logo {
    height: 100px;
    grid-column: 4/5;
}

section {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 10% 75%;
    grid-gap: 10px;
    box-shadow: -8px 3px 25px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(255, 0, 255, 0);
    grid-column: 2/4;
}

h1 {
    margin: 10px;
    text-shadow: 1px 2px 3px black;
    font-family: font1;
    color: whitesmoke;
    font-size: 50px;
    text-decoration-color: whitesmoke;
    text-decoration: underline;
}

.prodis {
    height: 450px;
    grid-column: 1/2;
}

h2 {
    margin-top: 15%;
    text-shadow: 1px 2px 3px black;
    font-family: font1;
    color: black;
    font-size: 45px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    grid-column: 2/3;
    text-shadow: 3px 3px 5px white;
}

.box {
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: auto;
    margin-right: 10px;
}

.logo2 {
    height: 150px;
    align-self: center;
}

.imgabt {
    height: 500px;
    grid-column: 1/2;
}

li {
    grid-column: 1/2;
    background-color: rgba(255, 255, 255, 0.5);
    list-style: none;
    text-align: center;
